.w-guide h1{
    margin-bottom: 3rem;
}
.w-guide .fancy::before{
    content: '';
    position: absolute;
    background-image: url('/assets/images/image 30.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 162px;
    height: 162px;
}
.w-guide .get{
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    background: #282B69;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 8px 24px;
    width: 23%;
    font-size: 32px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin-top: 3rem;
}
/* fancy */
body.is-using-mouse .fancybox__content .plyr :focus {
    outline: none;
}


/*  */
.w-questions{
    margin: 5rem auto;
}
.w-questions h1{
    padding-bottom: 1rem;
    border-bottom: 1px solid #94B2CC;
    margin-bottom: 2rem;
}
.w-questions table{
    margin-top: 5rem;
}


/*  */
.w-answer1{
    padding: 5rem 0;
}
.w-answer1 .form-group input{
    width: 100%;
}
.w-answer1 .image{
    width: max-content;
    margin: 3rem auto;
}
.w-answer1 .box-answer{
    background: #F8F8F8;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 31px 32px;
}
.w-answer1 .box-answer .check{
    display: flex;
    justify-content: center;
    gap: 4rem;
}


/*  */
.w-finish{
    background-image: url('/assets/images/luca-bravo-ii5JY_46xH0-unsplash\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
}
.w-finish .box{
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 40px 11rem;
    color: #FFFFFF;
}
.w-finish .box .test{
    background: rgba(0, 0, 0, 0.43);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 16px 28px;
    display: block;
    width: 33%;
    margin: 2rem auto;
    color: #FFFFFF;
    text-decoration: unset;
}
.w-finish .complete{
    display: block;
    color: #FFFFFF;
    text-decoration: unset;
    background: #282B69;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
    width: 15%;
    padding: 16px 28px;
    margin-top: 2rem;
}